//? Llamada a elementos externos
@use '../global/variables' as var;
@use '../base/font' as font;
@import '../global/mixins';

//! Estilos del footer
#footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var.$secondary;
    width: 100%;
    font-family: var.$font-base;

    @media (max-width: 880px) {
      flex-direction: column; // En dispositivos pequeños, los elementos se apilan verticalmente
      align-items: center; // Centrar las secciones verticalmente
  }
    
  
    section {
      flex: 1;
      margin-top: 40px;
      margin-left: 40px;
      margin-bottom: 50px;
      justify-content: flex-start;
  

      @media (max-width: 880px) {
        flex: 1 1 100%; // En dispositivos pequeños, cada sección ocupa el 100% del ancho
        margin: 5px 0; // Ajustar márgenes para evitar desbordamiento
        margin-top: 60px !important; 
        text-align: center;
        &:last-child {
          margin-bottom: 40px; // Al ultimo hijo se le aplicará un margen inferior para evitar desbordamiento
        }
      }


      p {
        color: var.$text-footer;
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      a {
        display: block;
        color: white;
        text-decoration: none;
        padding-top: 10px;
        font-size: 18px;
        align-items: center;
  
        &:hover {
          color: var.$text-hover; // Cambiar color al pasar el ratón
          @include transition(color, 200ms); // Efecto de transición
        }
  
        i {
          display: flex;
          font-size: 50px;
        }

        @media (max-width: 880px) {
          flex: 1 1 100%; // En dispositivos pequeños, cada sección ocupa el 100% del ancho
          margin: 5px 0; // Se ajustan márgenes para evitar desbordamiento
        }
      }
    }
  
    .social_media {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px; // Espacio entre elementos
  
      a {
        display: inline-flex; // Alinear los elementos en línea
        align-items: center;
        justify-content: center;
        font-size: 50px;
        color: white;
        text-decoration: none;
      }
  
      .social_media_icons {
        display: flex;
        gap: 15px;
      }
    }
  }