//? Llamada a elementos externos
@use '../global/variables' as var;
@use '../base/font';
@use '../global/mixins';


//! Estilos del header
header {
    height: 170px;
    @if var.$primary == #8B4513 { //? Estructura de control
      background-color: var.$primary;
    } @else {
      background-color: var.$secondary;
    }
    width: 100%;  
    position: relative; // Se establece una posición relativa para que los elementos hijos se posicionen respecto a él
  
    #logo {
      float: left; // Se alinea a la izquierda
      width: 110px;
      position: absolute;  // Se establece una posición absoluta para que el logo no afecte al resto de elementos
      margin-top: 29px;
      margin-left: 70px;

      @media (max-width: 733px) {
        margin-left: 5%; // Se reduce el margen izquierdo en pantallas pequeñas
      }

      @media (max-width: 1065px) {
        width: 70px; 
        margin-top: 20px; // Se reduce el margen superior y la barra de navegación se expande completamente
      }

      @media (min-width: 1700px) {
        margin-left: 15%;
      }
    }
  
    #search_bar {
      margin-left: 25%;
      padding-left: 15px; // Se aplica un relleno a la izquierda del input para serparar el texto del borde
      color: white;
      font-size: 16px;
      width: 50%; // Se establece un ancho de la mitad del header
      display: flex;  
      height: 35px;
      position: relative; 
      background-color: var.$secondary;
      border: 1px solid white; // Se aplica un borde blanco al input
      @include mixins.border-radius(11px);
      margin: 0 auto; // Centra el input horizontalmente
      top: 40px;

      @media (max-width: 420px) {
        width: 40%; // Se reduce el ancho del input en pantallas muy pequeñas
      }

    }
  
    .fa-cart-shopping {
      font-size: 25px;
      color: white;
      display: flex;
      float: right; // Se alinea a la derecha
      margin-top: 12px;
      margin-right: 15%; // Se aplica un margen a la derecha para separarlo del borde
  
      &:hover {
        color: black; // Cambia el color del icono al pasar el ratón por encima
        @include mixins.transition(color, 150ms);
      }

      @media (min-width: 1700px) {
        margin-right: 20%; // Se aplica un margen extra en pantallas muy grandes
      }
    }
    
    .fa-bars {
      display: none; // Se oculta el icono de menú en pantallas grandes
      position: absolute;
      right: 10px;
      top: 50%; // Se centra verticalmente el icono
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);


      @media(max-width: 733px){
        display: flex; // Se muestra el icono de menú en pantallas pequeñas
        float: right; // Se alinea a la derecha
        font-size: 28px;
        color: white;
        margin-top: 5px;
        margin-right: 3%; // Se aplica un margen a la derecha para separarlo del carrito

      }
    }


    #navbar {
      display: flex;
      margin: 0 auto; // Centra el menú horizontalmente
      width: 100%; 
      margin-top: 85px;
      padding-left: 10px;
    
      ul {
        display: flex; // Los elementos del menú se alinean horizontalmente
        flex-grow: 1; // Cada elemento del menú ocupa el mismo espacio
  
        li {
          list-style: none;
          flex-grow: 1; // Cada elemento del menú ocupa el mismo espacio
          margin: 0;

          &:first-child {
            margin-left: 20%; // Se le aplica un margen extra al primer hijo para que no quede pegado al logo

            @media (max-width: 1065px) {
              margin-left: 3%; // Al no estar el logo a la izquierda en esta resolución, se reduce el margen
            }
          }
          
          &:last-child {
            width:50px;
            margin-right: 3%; // Se le aplica un margen extra al último hijo para que no quede pegado al carrito
          }

          a {
            font-family: var.$font-base;
            text-decoration: none;
            color: white;
  
            &:hover {
              font-size: 18px; // Al pasar el ratón por encima, el tamaño de la fuente aumenta
              color: black; // Cambia el color del texto al pasar el ratón por encima
              @include mixins.transition(font-size, 200ms);
            }
          }
        }
        @media(max-width: 852px){
          gap: 0; // Se elimina el espacio entre elementos
        }
      }

      @media(max-width: 733px){
        display: none; // En pantallas pequeñas, el menú se oculta 
      }

      @media(min-width: 1700px){
        width: 80%; // Se reduce el ancho del menú en pantallas muy grandes
      }
    }

    @media (max-width: 733px) {
      height: 110px; // Se reduce la altura del header en pantallas pequeñas
    }
  }
  