@use '../global/variables' as var;
@use '../base/font';
@import '../global/mixins';

header {
    height: 170px;
    background-color: var.$primary;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
  
    #logo {
      float: left;
      width: 110px;
      position: absolute;
      margin-top: 80px;
      margin-left: 70px;
  
      @media (max-width: 1065px) {
        width: 70px;
        margin-top: 20px;
      }

      @media (max-width: 733px) {
        margin-left: 5%;
      }
    }
  
    #search_bar {
      margin-left: 25%;
      padding-left: 15px;
      color: white;
      font-size: 16px;
      width: 50%;
      display: flex;
      height: 35px;
      position: relative;
      align-items: center;
      justify-content: center;
      background-color: var.$secondary;
      border: 1px solid white;
      @include border-radius(11px);
      margin: 0 auto;
      top: 40px;

      @media (max-width: 420px) {
        width: 40%;

        &::placeholder {
          content: 'Buscar...';
        }
      }

    }
  
    .fa-cart-shopping {
      font-size: 25px;
      color: white;
      display: flex;
      float: right;
      margin-top: 12px;
      margin-right: 15%;
  
      &:hover {
        color: black;
        @include transition(color, 150ms);
      }
    }
    
    .fa-bars {
      display: none;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);


      @media(max-width: 733px){
        display: flex;
        float: right;
        font-size: 28px;
        color: white;
        margin-top: 5px;
        margin-right: 3%;

      }
    }


    #navbar {
      display: flex;
      margin: 0 auto;
      width: 100%;
      margin-top: 85px;
      justify-content: space-between;

      padding-left: 10px;
      ul {
        display: flex;
        gap: 2%;
        flex-grow: 1;
  
        li {
          list-style: none;
          flex-grow: 1;
          margin: 0;

          &:first-child {
            margin-left: 20%;

            @media (max-width: 1040px) {
              margin-left: 3%;
            }
          }
          
          &:last-child {
            width:50px;
            margin-right: 3%;
          }

          a {
            font-family: var.$font-base;
            text-decoration: none;
            color: white;
            margin-right: 25px;
  
            &:hover {
              font-size: 18px;
              @include transition(font-size, 200ms);
            }
          }
        }
        @media(max-width: 852px){
          gap: 0;
        }
      }

      @media(max-width: 733px){
        display: none;
      }
    }

    @media (max-width: 733px) {
      height: 110px;
    }
  }
  