//? Llamada a elementos externos
@use '../global/variables' as var;
@use '../base/font';
@import '../global/mixins';
@import '../global/functions';

//? Asignacion de variable para interpolación
$colorFondo: var.$bg-main;

//! Estilos de la página principal
main {
    font-family: 'Roboto', sans-serif;
    background-color: #{$colorFondo};
    height: 2800px;
    width: 100%;
  
    section{
      justify-content: center;

      &:last-child{
        margin-bottom: 100px; // Aplica un margen solo a la última sección
      }
    }

    article{
      @media(max-width: 1380px){
        &:nth-child(5){
        display: none; // Oculta el cuarto artículo en pantallas menores a 1380px
        }
      }

      @media(max-width: 1000px){
        &:nth-child(4){
        display: none; // Oculta el tercer artículo en pantallas menores a 1000px
        }
      }

      @media(max-width: 700px){
          &:nth-child(3){
          display: none; // Oculta el segundo artículo en pantallas menores a 700px
          }
        }
    }

    h1 {
      font-family: var.$font-title;
      font-size: 40px;
      text-align: center;
      padding-top: 40px;
    }
  
    h2 {
      font-family: var.$font-base;
      border-bottom: 7px solid var.$secondary;
      @include border-radius(10%);
      width: 150px;

      @media(max-width: 450px){
        margin-left: 20px !important;  // El margen se reduce en pantallas muy pequeñas para que sea agradable
      }

      @media(max-width: 730px){
        border-bottom: 4px solid var.$secondary; // En pantallas pequeñas se reduce el grosor del borde
      }

      @media(min-width: 1800px){ 
        margin-left: 10% !important; // El margen se ajusta en pantallas muy grandes
      }

      @media(min-width: 2200px){ 
        margin-left: 12% !important; // El margen se ajusta en pantallas muy grandes
      }

      @media(min-width: 2400px){ 
        margin-left: 14% !important; // El margen se ajusta en pantallas muy grandes
      }
    }
  
    #top_10 {
      display: flex; // Alinea los elementos horizontalmente
      margin-top: 10px;
      }
  
      .top10mark {
        height: 30px;
        width: 30px;
        padding: 6px;
        text-align: center;
        font-weight: bold; // Aplica negrita al texto
        color: white;
        background-color: var.$primary;
        position: absolute; // Posiciona el elemento de forma absoluta en relación al contenedor
        transform: translate(-50%, -50%);
        @include border-radius(50%);
      }
      
      .subtitle_top {
        margin-left: 50px;
        margin-top: 20px;
      }

      //? Creación de clase auxiliar para heredar en el resto de subtítulos
      .subtitle_base{
        margin-top: 200px;
        margin-left: 50px;
        float: left; // Alinea los elementos a la izquierda
      }

      .subtitle_revelacion{
        @extend .subtitle_base; // Hereda las propiedades de .subtitle_base
        width:260px; // Ajusta el ancho del contenedor a la cantidad de texto
      } 
  
      .subtitle_imprescindibles{
        @extend .subtitle_base; // Hereda las propiedades de .subtitle_base
        width:330px; // Ajusta el ancho del contenedor a la cantidad de texto
  
        @media(max-width: 730px){ // En pantallas pequeñas se reduce el tamaño del texto
          font-size: 20px;
          width: 280px; 
        }
      }
  
      .subtitle_todos{
        @extend .subtitle_base; // Hereda las propiedades de .subtitle_base
        width:250px; // Ajusta el ancho del contenedor a la cantidad de texto
      }
      
      #autores_revelacion,
      #imprescindibles_tiktok,
      #todos_leen{
        display: flex;
        margin-top: 250px;
      }
  
      .book_article {
        margin-top: 20px;
        margin-right: 2%;   
        height: 375px;
        width: 270px;
        place-items: center; // Centra los elementos horizontal y verticalmente
      }

    .fa-circle-chevron-left,
    .fa-circle-chevron-right {
      margin-top: 175px;
  
      &:hover {
        font-size: 55px; // Aumenta el tamaño del icono al pasar el ratón por encima
        @include transition(font-size);
      }
    }
  
    .fa-circle-chevron-left {
      margin-left: 6%;
      margin-right: 2%;
    }
  
    .fa-circle-chevron-right {
      margin-right: 6%;
    }
  
    .book_cover {
      height: 100%; // Ajusta la altura de la imagen al 100% del contenedor
      width: 100%; // Ajusta el ancho de la imagen al 100% del contenedor
    }
  
    .book_title {
      width: 100%;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }
  
    .book_author {
      text-align: center; // Centra el texto 
    }
  
    button {
      background-color: var.$primary;
      color: white;
      padding: 10px;
      font-weight: bold;
      margin-top: 10px;
  
      &:hover {
        padding: 12px;
        font-size: agrandarElemento(20px); // Llama a la función agrandarElemento que aumenta el tamaño del texto
        @include transition(all);
      }
    }
  }