@use '../global/variables' as var;
@use '../base/font';
@import '../global/mixins';
@import '../global/functions';


main {
    font-family: 'Roboto', sans-serif;
    background-color: var.$bg-main;
    height: 2800px;
    width: 100%;
  
    section{
      justify-content: center;

      &:last-child{
        margin-bottom: 100px;
      }
    }

    article{
      @media(max-width: 1380px){
        &:nth-child(5){
        display: none;
        }
      }

      @media(max-width: 1000px){
        &:nth-child(4){
        display: none;
        }
      }

      @media(max-width: 700px){
          &:nth-child(3){
          display: none;
          }
        }
    }

    h1 {
      font-family: var.$font-title;
      font-size: 40px;
      display: flex;
      text-align: center;
      justify-content: center;
      padding-top: 40px;
    }
  
    h2 {
      font-family: var.$font-base;
      border-bottom: 7px solid var.$secondary;
      @include border-radius(10%);
      width: 150px;

      @media(min-width: 2100px){
        margin-left: 80px !important;
      }

      @media(max-width: 730px){
        border-bottom: 4px solid var.$secondary;
      }

      @media(max-width: 450px){
        margin-left: 20px !important;
      }
    }
  
    #top_10 {
      display: flex;
      margin-top: 10px;
      }
  
      .top10mark {
        height: 30px;
        width: 30px;
        padding: 6px;
        text-align: center;
        font-weight: bold;
        color: white;
        background-color: var.$primary;
        position: absolute;
        transform: translate(-50%, -50%);
        @include border-radius(50%);
      }
  
      .subtitle_top {
        margin-left: 50px;
        margin-top: 20px;
      }

      .subtitle_revelacion,
      .subtitle_imprescindibles,
      .subtitle_todos{
        margin-top: 200px;
        margin-left: 50px;
        float: left;
      }

      .subtitle_revelacion{
        width:260px;
      } 
  
      .subtitle_imprescindibles{
        width:330px;
  
        @media(max-width: 730px){
          font-size: 20px;
          width: 280px;
        }
      }
  
      .subtitle_todos{
        width:250px;
      }
      
      #autores_revelacion,
      #imprescindibles_tiktok,
      #todos_leen{
        display: flex;
        margin-top: 250px;
      }
  
      .book_article {
        margin-top: 20px;
        margin-right: 2%;   
        height: 375px;
        width: 270px;
        place-items: center;
      }

    .fa-circle-chevron-left,
    .fa-circle-chevron-right {
      margin-top: 175px;
  
      &:hover {
        font-size: 55px;
        @include transition(font-size);
      }
    }
  
    .fa-circle-chevron-left {
      margin-left: 6%;
      margin-right: 2%;
    }
  
    .fa-circle-chevron-right {
      margin-right: 6%;
    }
  
    .book_cover {
      height: 100%;
      width: 100%;
    }
  
    .book_title {
      width: 100%;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }
  
    .book_author {
      text-align: center;
    }
  
    button {
      background-color: var.$primary;
      color: white;
      padding: 10px;
      font-weight: bold;
      margin-top: 10px;
  
      &:hover {
        padding: 12px;
        font-size: agrandarElemento(20px);
        @include transition(all);
      }
    }
  }