//? Llamada a elementos externos
@use '../global/variables' as var;
@use '../base/font';
@use '../global/mixins';
@use '../global/functions';

#categorias_title{
    font-size: 50px;
}

.categorias_section{
    display: flex; // Alinea los elementos horizontalmente
    flex-direction: column; // Alinea los elementos verticalmente
    gap: 30px;
    max-width: 1685px;
    margin: 0px auto;
    width: 100%;

    &:last-of-type{
        margin-bottom: 75px;
    }

    .subtitle_categorias{
        width: unset; // Anula el width: 100% de la clase global
        align-self: center;
        font-size: 35px;
    }


    .categorias_container{
        display: flex;
        flex-direction: row;
        gap: 2%;
        justify-content: center;
        background-color: var.$primary;
        border: 8px solid black;
        padding: 25px;
        flex-wrap: wrap; // Ajusta los elementos al tamaño del contenedor
        width: 69%;

        @media (max-width: 960px){
            padding: 10px;
        }

        .categorias_generos{
            display:none; // Oculta los elementos

            @media (max-width: 960px){
                display: flex; 
                font-size: 35px;
                color: white;
                gap: 10%;
                align-items: center;
                justify-content: center;


                .fa-angle-down{
                    color: black;
                }
            
            }
        }
        
        .categorias_btn{
            border: 4px solid white;
            border-radius: 25px;
            padding: 17px 35px;
            font-weight: bold; 
            font-size: 24px;
                        
            &.active {
                background-color: white;
                color: var.$primary;
                transition: 700ms ease;
                -webkit-transition: 700ms ease;
                -moz-transition: 700ms ease;
                -ms-transition: 700ms ease;
                -o-transition: 700ms ease;
            }

            @media (max-width: 960px){
                display:none;
            }
        }
    }
}