.proximamente_article {
    display: flex;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 3%;

    .book_cover {
        height: 320px;
        width: 215px;
        height: auto;
        border-radius: 5px;
    }

    .book_title {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .book_author {
        font-size: 1rem;
    }

    .release_date{
            background: #5a3314; // Color de fondo (marrón oscuro)
            color: white; // Texto en blanco
            font-weight: bold; // Negrita
            font-size: 0.9rem; // Tamaño de fuente
            padding: 5px 12px; // Espaciado interno
            border-radius: 10px; // Bordes redondeados
            display: inline-block; // Evita que se expanda al 100%
            margin-top: 5px; // Espacio superior

            &::after {
                content: "";
                position: absolute;
                right: -10px; // Ajuste para que encaje
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #5a3314; // Triángulo con mismo color de fondo
            }
        
    }

    .book_synopsis{

    }

    .reserva_btn{

    }
}