//? Llamada a elementos externos
@use '../global/variables' as var;
@use '../base/font';
@use '../global/mixins';
@use '../global/functions';

.proximamente_main{
    display: flex;
    flex-direction: column;
    max-width: 1685px;
    margin: 0px auto; // Centra el contenido
 
    &:last-child{
        margin-bottom: 100px;
    }

    @media (max-width: 1085px){
        margin: 0;
    }

    @media (max-width: 690px){
        gap: 20px;
    }

}

#title_proximamente{
    font-size: 50px;
}


.proximamente_article {
    display: flex;
    gap: 3%;
    padding: 15px;
    border-radius: 10px; // Bordes redondeados
    margin: 20px 3%;

    @media (max-width: 690px){
        flex-direction: column;
        gap:15px;
        width: 90%;
    }
}
    .proximamente_img{
        margin: 0px auto; // Centra la imagen
    }

    .book_cover {
        height: 320px;
        width: 215px;
        height: auto; // Ajusta la altura automáticamente
        border-radius: 5px;
    }


    .proximamente_info{
        display: flex
;       gap: 4%;
        flex-direction: column;

        @media (max-width: 1085px){
            justify-content: center;
            width: 370px;
        }

        @media (max-width: 690px){
            width: 100%;
        }
    }



    .book_header{   
        display: flex;
        flex-direction: row; // Alinea los elementos en fila 
        align-items: center;
        margin-bottom: 10px;
        gap: 3%;

        .book_name_author{
            display: flex;
            flex-direction: column;
            align-self: flex-start; // Alinea el contenido a la izquierda
            gap: 2px;

            .book_title {
                font-size: 35px;
                font-weight: bold; 
                text-align: left; 
                width: 100%;

                @media (max-width: 690px){
                    font-size: 32px;
                }
            }

            .book_author {
                text-align: left;
                font-size: 23px;
            }
        }

        .release_date{
            background-image: linear-gradient(to right, var.$secondary, #6c3d17); // Degradado de colores  
            color: white; 
            font-weight: bold; // Negrita
            font-size: 20px; 
            padding: 15px; 
            display: inline-block; // Evita que se expanda al 100% 
            text-align: center; // Centra el texto    

            @media (max-width: 1085px){
                align-self: flex-start;
                padding: 25px;
                font-size: 25px;
            }
        }

    @media (max-width: 1085px){
        flex-direction: column;
        gap: 20px;
    }

        
    }

    .book_author {
        font-size: 1rem;
    }

    .book_synopsis{
        font-size: 20px;

        @media (max-width: 1085px){
            display: none;
        }
    }

    .reserva_btn{
        background: var.$primary; 
        color: white; 
        font-weight: bold; // Negrita
        font-size: 24px; 
        padding: 15px; 
        margin-top: 5px; // Espacio superior
        position: relative; // Necesario para el pseudo-elemento
        align-self: flex-end; // Alinea el botón a la derecha

        @media (max-width: 1085px){
            width: 100%;
        }
    }


