.reco_personalizadas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
}

.cover_personalizadas{
    background-color: black;
    padding: 10px 20px;
    height: 375px;
    width: 270px;
}