#recomendado_main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1675px;
    margin: 0px auto;
    gap: 10%;

    @media (max-width: 1250px){
        gap: 7%;
    }

    @media (max-width: 960px){
        flex-direction: column;
        gap: 90px;
    }
}
.main_sections_reco{
    display: flex;
    flex-direction: column; // Para que los elementos se coloquen uno debajo del otro
    gap: 20px;
    flex: 3;
    order: 1;

    @media (max-width: 960px){
        order: 2;
    }

    .container-flex-books{
        grid-template-columns: auto repeat(2, 1fr) auto; // 2 columnas
        gap: 5px;

        @media (max-width: 1650px){
            grid-template-columns: auto repeat(1, 1fr) auto; // 1 columna

            .book_article:nth-of-type(3){
                display: none; // Ocultar el segundo libro
            }

            .book_info:nth-of-type(4){
                display: none; // Ocultar la información del segundo libro
            }

        }
    }
}
.reco_personalizadas{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    float: right; // Para que se coloque a la derecha
    margin-right: 5%;
    order: 2;
    
    @media (max-width: 960px){
        order: 1; // Para que se coloque arriba
        margin: 0px auto;
    }
}

.subtitle_personalizadas{
    width: 115px;
    margin-left: 0px;
}

.book_reco_personalizadas{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 30px 30px 20px;
    border-radius: 6%;
}

.cover_personalizadas{
    height: 375px;
    width: 270px;
}

#marker_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.ebook_marker{
    border-radius: 50%; // Para que sea un círculo
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;

    &.active {
        background-color: #5e5e5e; // Color gris clarito cuando se clica
    }
}