.new_mark{
    background-color: green;
    position: absolute;
    color: white;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translate(-114%, -430%);
    -webkit-transform: translate(-114%, -430%);
    -moz-transform: translate(-114%, -430%);
    -ms-transform: translate(-114%, -430%);
    -o-transform: translate(-114%, -430%);
}

  .subtitle_ultimo{
    width:330px; // Ajusta el ancho del contenedor a la cantidad de texto
  }

  .subtitle_thriller{
    width:260px; // Ajusta el ancho del contenedor a la cantidad de texto
  } 

  .subtitle_fantasia{
    width:265px; // Ajusta el ancho del contenedor a la cantidad de texto
  }

  .subtitle_noficcion{
    width:285px; // Ajusta el ancho del contenedor a la cantidad de texto
  }
  
  #ultimo_semana,
  #novedades_thriller,
  #novedades_fantasia,
  #novedades_noficcion{
    display: flex;
    margin-top: 10px;
  }
