
//! DEFINICIÓN DE VARIABLES GLOBALES	

//? COLORES
$primary: #8B4513;
$secondary: #4D2E1A;
$text-hover: #007BFF;
$text-footer: #d8d8d8;
$bg-main: #FFEBCD;

//? FUENTES
$font-base: 'Roboto', sans-serif;


