/* ESTILOS GENERALES */
*{
    padding: 0px auto;
    margin: 0px auto;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* VARIABLES */
:root{
    --primary-color: #8B4513;
    --secondary-color: #4D2E1A;
}

/*<<<<<<<<<<<<<<<<<<<<ESTILOS DEL HEADER<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
header{
    height: 170px;
    background-color:var(--primary-color);
    width: 100%;

    align-items: center;
    justify-content: center;
}

#logo{
    float:left;
    width:110px;
    position: absolute;
    margin-top: 80px;
    margin-left: 70px; 
}

#search_bar{
    padding-left:15px;
    color: white;
    font-size: 16px;;
    width: 50%;
    display: flex;
    height: 35px;
    position:relative;
    top: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border: 1px solid white;
    border-radius: 11px;
}

.fa-cart-shopping{
    font-size: 25px;
    color: white;
    display:flex;
    float: right;
    margin-top: 12px;
    margin-right:15%;
}

.fa-cart-shopping:hover{
    color:black;
    transition: 150ms ease-in;
    -webkit-transition: 150ms ease-in;
    -moz-transition: 150ms ease-in;
    -ms-transition: 150ms ease-in;
    -o-transition: 150ms ease-in;
}

#navbar{
    margin-top: 75px;
    justify-content: space-between;
    margin-left: 200px;
    padding-left: 10px;
}

#nabvar .fa-bars{
    color: white;
    display: none;
}

#navbar ul{
    display: flex;
    gap:2%;
}

#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

#navbar ul li a:hover{
    font-size: 18px;
    transition: 200ms ease-in;
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
}

/*<<<<<<<<<<<<<<<<<<ESTILOS BODY<<<<<<<<<<<<<<<<<<<<<<<<<*/
main{
    font-family: 'Roboto', sans-serif;
    background-color: #FFEBCD; 
    height: 2000px;
    width: 100%;
}

#main h1{
    font-family: 'Oleo Script', serif;
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

h2{
    font-family: 'Roboto', sans-serif;
    border-bottom: 7px solid var(--secondary-color);
    border-radius: 10%;
    
    width: 150px;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

#top_10{
    display: flex;
    margin-top: 10px;
}

.top10mark{
    height:30px;
    width:30px;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    position:absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.subtitle_top{
    margin-left: 50px;
    margin-top: 20px;
}

.book_top10{
    margin-top: 20px;
    height: 375px;
    width: 270px;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.fa-circle-chevron-left{
    font-size: 50px;
    margin-top: 175px;
    margin-left: 6%;
}

.fa-circle-chevron-right{
    font-size: 50px;
    margin-top: 175px;
    margin-right: 6%;
}

.fa-circle-chevron-right:hover, .fa-circle-chevron-left:hover{
    font-size: 55px;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.book_cover{
    height: 100%;
    width: 100%;
}

.book_title{
    width:100%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.book_author{
    text-align: center;
}

button{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

button:hover{
    padding:12px;
    font-size: 22px;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.subtitle_revelacion{
    float:left;
    width:260px;
    margin-top: 200px;
    margin-left: 50px;
}

#autores_revelacion{
    display: flex;
    margin-top: 250px;
}
/*<<<<<<<<<<<<<<<<<<<ESTILOS FOOTER<<<<<<<<<<<<<<<<<<<<<< */
#footer {
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 400px;
    font-family: "Roboto", sans-serif;
}

#footer section{
    flex: 1;
    margin-top: 40px;
    margin-left: 40px;
    justify-content: flex-start;
}

#footer p{
    color: #d8d8d8;
    font-size: 24px;
    margin-bottom: 10px;
}

#footer a{
    display: block;
    color: white;
    text-decoration: none;
    padding-top: 10px;
    font-size: 18px;
    align-items: center;
}

#footer a:hover {
    color: #007BFF;
    transition: 200ms ease;
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -ms-transition: 200ms ease;
    -o-transition: 200ms ease;
}

#footer a i{
    display: flex;
    font-size: 50px;
}

.social_media {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
}

.social_media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    text-decoration: none; 
}

.social_media .social_media_icons {
    display: flex; /* Activa flexbox para organizar los iconos en fila */
    gap: 15px; /* Espaciado entre los iconos */
}

/* MEDIA QUERIES */
@media (max-width: 750px){
    #logo{
        width: 70px;
        margin-top: 20px;
    }
}