h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

p, a {
  font-size: 16px;
}

button {
  font-size: 20px;
}

.subtitle {
  font-size: 20px;
}

.footer-text {
  font-size: 12px;
}

.fa-circle-chevron-left, .fa-circle-chevron-right {
  font-size: 50px;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 75px;
  font-family: "Roboto", sans-serif;
  background-color: #FFEBCD;
  height: 2700px;
  width: 100%;
}
@media (max-width: 750px) {
  main {
    gap: 60px;
  }
}
main section {
  align-items: center;
}
main h1 {
  font-family: "Oleo Script", serif;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}
main h2 {
  font-family: "Roboto", sans-serif;
  border-bottom: 7px solid #4D2E1A;
  align-self: flex-start;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  width: 150px;
}
main .main_sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1685px;
  margin: 0px auto;
  width: 100%;
}
main .main_sections section:first-of-type {
  align-self: flex-start;
  gap: 50px;
}
main .subtitle_base, main .subtitle_todos, main .subtitle_imprescindibles, main .subtitle_revelacion {
  float: left;
}
main .subtitle_revelacion {
  width: 260px;
}
main .subtitle_imprescindibles {
  width: 330px;
}
@media (max-width: 730px) {
  main .subtitle_imprescindibles {
    font-size: 20px;
    width: 280px;
  }
}
main .subtitle_todos {
  width: 250px;
}
main .book_article {
  display: grid;
  margin-top: 20px;
  place-items: center;
}
@media (max-width: 1450px) {
  main .book_article:nth-of-type(7) {
    display: none;
  }
}
@media (max-width: 1060px) {
  main .book_article:nth-of-type(5) {
    display: none;
  }
}
@media (max-width: 750px) {
  main .book_article:nth-of-type(3) {
    display: none;
  }
}
main .top10mark {
  height: 30px;
  width: 30px;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #8B4513;
  position: absolute;
  transform: translate(-450%, -625%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 390px) {
  main .top10mark {
    transform: translate(-400%, -595%);
  }
}
main .book_cover {
  height: 375px;
  width: 270px;
}
@media (max-width: 390px) {
  main .book_cover {
    height: 355px;
    width: 250px;
  }
}
main .book_title {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 390px) {
  main .book_title {
    width: 80%;
    margin: 0px auto;
  }
}
main .book_author {
  text-align: center;
}
main button {
  background-color: #8B4513;
  color: white;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  align-self: center;
}
main button:hover {
  padding: 12px;
  font-size: 22px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
main .container-flex-subtitle {
  align-items: flex-start;
  margin-left: 5%;
}
main .container-flex-books {
  display: grid;
  grid-template-columns: auto repeat(4, 1fr) auto;
  grid-template-rows: auto auto;
}
@media (max-width: 1450px) {
  main .container-flex-books {
    grid-template-columns: auto repeat(3, 1fr) auto;
  }
}
@media (max-width: 1060px) {
  main .container-flex-books {
    grid-template-columns: auto repeat(2, 1fr) auto;
  }
}
@media (max-width: 750px) {
  main .container-flex-books {
    grid-template-columns: auto repeat(1, 1fr) auto;
  }
}
main .container-flex-books .fa-circle-chevron-left {
  grid-column: 1;
  grid-row: 1;
}
main .container-flex-books .fa-circle-chevron-right {
  grid-column: 6;
  grid-row: 1;
}
main .container-flex-books .fa-circle-chevron-left:hover,
main .container-flex-books .fa-circle-chevron-right:hover {
  font-size: 55px;
  transition: font-size 300ms ease;
  -webkit-transition: font-size 300ms ease;
  -moz-transition: font-size 300ms ease;
  -ms-transition: font-size 300ms ease;
  -o-transition: font-size 300ms ease;
}
main .container-flex-books .book_info {
  grid-row: 2;
  display: flex;
  flex-direction: column;
}
main .container-flex-books .book_info:nth-of-type(2) {
  grid-column: 2;
}
main .container-flex-books .book_info:nth-of-type(4) {
  grid-column: 3;
}
main .container-flex-books .book_info:nth-of-type(6) {
  grid-column: 4;
}
main .container-flex-books .book_info:nth-of-type(8) {
  grid-column: 5;
}
@media (max-width: 1450px) {
  main .container-flex-books .book_info:nth-of-type(8) {
    display: none;
  }
}
@media (max-width: 1060px) {
  main .container-flex-books .book_info:nth-of-type(6) {
    display: none;
  }
}
@media (max-width: 750px) {
  main .container-flex-books .book_info:nth-of-type(4) {
    display: none;
  }
}

#footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #4D2E1A;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 880px) {
  #footer {
    flex-direction: column;
    align-items: center;
  }
}
#footer section {
  flex: 1;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
  justify-content: flex-start;
}
@media (max-width: 880px) {
  #footer section {
    flex: 1 1 100%;
    margin: 5px 0;
    margin-top: 60px !important;
    text-align: center;
  }
  #footer section:last-child {
    margin-bottom: 40px;
  }
}
#footer section p {
  color: #d8d8d8;
  font-size: 24px;
  margin-bottom: 10px;
}
#footer section a {
  display: block;
  color: white;
  text-decoration: none;
  padding-top: 10px;
  font-size: 18px;
  align-items: center;
}
#footer section a:hover {
  color: #007BFF;
  transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -ms-transition: color 200ms ease;
  -o-transition: color 200ms ease;
}
#footer section a i {
  display: flex;
  font-size: 50px;
}
@media (max-width: 880px) {
  #footer section a {
    flex: 1 1 100%;
    margin: 5px 0;
  }
}
#footer .social_media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#footer .social_media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  text-decoration: none;
}
#footer .social_media .social_media_icons {
  display: flex;
  gap: 15px;
}

header {
  height: 170px;
  background-color: #8B4513;
  width: 100%;
  position: relative;
}
header #logo {
  float: left;
  width: 110px;
  position: absolute;
  margin-top: 29px;
  margin-left: 70px;
}
@media (max-width: 733px) {
  header #logo {
    margin-left: 5%;
  }
}
@media (max-width: 1065px) {
  header #logo {
    width: 70px;
    margin-top: 20px;
  }
}
@media (min-width: 1700px) {
  header #logo {
    margin-left: 15%;
  }
}
header #search_bar {
  margin-left: 25%;
  padding-left: 15px;
  color: white;
  font-size: 16px;
  width: 50%;
  display: flex;
  height: 35px;
  position: relative;
  background-color: #4D2E1A;
  border: 1px solid white;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  margin: 0 auto;
  top: 40px;
}
@media (max-width: 420px) {
  header #search_bar {
    width: 40%;
  }
}
header .fa-cart-shopping {
  font-size: 25px;
  color: white;
  display: flex;
  float: right;
  margin-top: 12px;
  margin-right: 15%;
}
header .fa-cart-shopping:hover {
  color: black;
  transition: color 150ms ease;
  -webkit-transition: color 150ms ease;
  -moz-transition: color 150ms ease;
  -ms-transition: color 150ms ease;
  -o-transition: color 150ms ease;
}
@media (min-width: 1700px) {
  header .fa-cart-shopping {
    margin-right: 20%;
  }
}
header .fa-bars {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 733px) {
  header .fa-bars {
    display: flex;
    float: right;
    font-size: 28px;
    color: white;
    margin-top: 5px;
    margin-right: 3%;
  }
}
header #navbar {
  display: flex;
  margin: 0 auto;
  width: 100%;
  margin-top: 85px;
  padding-left: 10px;
}
header #navbar ul {
  display: flex;
  flex-grow: 1;
}
header #navbar ul li {
  list-style: none;
  flex-grow: 1;
  margin: 0;
}
header #navbar ul li:first-child {
  margin-left: 20%;
}
@media (max-width: 1065px) {
  header #navbar ul li:first-child {
    margin-left: 3%;
  }
}
header #navbar ul li:last-child {
  width: 50px;
  margin-right: 3%;
}
header #navbar ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
}
header #navbar ul li a:hover {
  font-size: 18px;
  color: black;
  transition: font-size 200ms ease;
  -webkit-transition: font-size 200ms ease;
  -moz-transition: font-size 200ms ease;
  -ms-transition: font-size 200ms ease;
  -o-transition: font-size 200ms ease;
}
@media (max-width: 852px) {
  header #navbar ul {
    gap: 0;
  }
}
@media (max-width: 733px) {
  header #navbar {
    display: none;
  }
}
@media (min-width: 1700px) {
  header #navbar {
    width: 80%;
  }
}
@media (max-width: 733px) {
  header {
    height: 110px;
  }
}

.proximamente_main {
  display: flex;
  flex-direction: column;
  max-width: 1685px;
  margin: 0px auto;
}
.proximamente_main:last-child {
  margin-bottom: 100px;
}
@media (max-width: 1085px) {
  .proximamente_main {
    margin: 0;
  }
}
@media (max-width: 690px) {
  .proximamente_main {
    gap: 20px;
  }
}

#title_proximamente {
  font-size: 50px;
}

.proximamente_article {
  display: flex;
  gap: 3%;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 3%;
}
@media (max-width: 690px) {
  .proximamente_article {
    flex-direction: column;
    gap: 15px;
  }
}

.proximamente_img {
  margin: 0px auto;
}

.book_cover {
  height: 320px;
  width: 215px;
  height: auto;
  border-radius: 5px;
}

.proximamente_info {
  display: flex;
  gap: 4%;
  flex-direction: column;
}
@media (max-width: 1085px) {
  .proximamente_info {
    justify-content: center;
    width: 370px;
  }
}
@media (max-width: 690px) {
  .proximamente_info {
    width: 80%;
  }
}

.book_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  gap: 3%;
}
.book_header .book_name_author {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 2px;
}
.book_header .book_name_author .book_title {
  font-size: 35px;
  font-weight: bold;
  text-align: left;
}
@media (max-width: 690px) {
  .book_header .book_name_author .book_title {
    font-size: 27px;
  }
}
.book_header .book_name_author .book_author {
  text-align: left;
  font-size: 23px;
}
.book_header .release_date {
  background-image: linear-gradient(to right, #4D2E1A, #6c3d17);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
  text-align: center;
}
@media (max-width: 1085px) {
  .book_header .release_date {
    align-self: flex-start;
    padding: 25px;
    font-size: 25px;
  }
}
@media (max-width: 1085px) {
  .book_header {
    flex-direction: column;
    gap: 20px;
  }
}

.book_author {
  font-size: 1rem;
}

.book_synopsis {
  font-size: 20px;
}
@media (max-width: 1085px) {
  .book_synopsis {
    display: none;
  }
}

.reserva_btn {
  background: #8B4513;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 15px;
  margin-top: 5px;
  position: relative;
  align-self: flex-end;
}
@media (max-width: 1085px) {
  .reserva_btn {
    width: 100%;
  }
}

.new_mark {
  background-color: green;
  position: absolute;
  color: white;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translate(-114%, -430%);
  -webkit-transform: translate(-114%, -430%);
  -moz-transform: translate(-114%, -430%);
  -ms-transform: translate(-114%, -430%);
  -o-transform: translate(-114%, -430%);
}

.subtitle_ultimo {
  width: 330px;
}

.subtitle_thriller {
  width: 260px;
}

.subtitle_fantasia {
  width: 265px;
}

.subtitle_noficcion {
  width: 285px;
}

#ultimo_semana,
#novedades_thriller,
#novedades_fantasia,
#novedades_noficcion {
  display: flex;
  margin-top: 10px;
}/*# sourceMappingURL=mainFile.css.map */